@page "/fetchdata"
@inject BlazorClient.Services.IWeatherForecastService Service
@attribute [Authorize]

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server and templated components</p>

<ApiFeedback  Error="error" UnAuthorized="unAuthorized" Items="forecasts">
    <ErrorMessage>
        <div class="alert alert-danger">
            <strong>Danger!</strong> There was an error !
        </div>
    </ErrorMessage>
    <UnAuthorizedMessage>
        <div class="alert alert-danger">
            <strong>Danger!</strong> You are not authorized !
        </div>
    </UnAuthorizedMessage>
    <Loading>
        <p><em>Loading...</em></p>
    </Loading>
    <ListTemplate Context="ListOfItems">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temp. (C)</th>
                    <th>Temp. (F)</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                @ListOfItems
            </tbody>
        </table>
    </ListTemplate>
    <ItemTemplate Context="item">
        <tr @key="item">
            <td>@item.Date</td>
            <td>@item.TemperatureC</td>
            <td>@item.TemperatureF</td>
            <td>@item.Summary</td>
        </tr>
    </ItemTemplate>
</ApiFeedback>



@code {
    private WeatherForecast[] forecasts;
    private bool unAuthorized;
    private bool error;

    protected override async Task OnInitializedAsync()
    {
        var result = await Service.GetForcasts();

        if(result.StatusCode == (int) System.Net.HttpStatusCode.OK)
        {
            forecasts = result.Content;
        }

        if(result.StatusCode == (int) System.Net.HttpStatusCode.Unauthorized)
        {
            unAuthorized = true;
        }

        if(result.StatusCode != (int) System.Net.HttpStatusCode.OK &&
            result.StatusCode != (int) System.Net.HttpStatusCode.Unauthorized)
        {
            error = true;
        }
    }
}
